blogClient/src/wsdl/localhost_8080/blog/DatabaseWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://blog.liambaron.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://blog.liambaron.com/" name="DatabaseWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://blog.liambaron.com/" schemaLocation="http://localhost:8080/blog/DatabaseWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="delAcc">
<part name="parameters" element="tns:delAcc"/>
</message>
<message name="delAccResponse">
<part name="parameters" element="tns:delAccResponse"/>
</message>
<message name="updateAcc">
<part name="parameters" element="tns:updateAcc"/>
</message>
<message name="updateAccResponse">
<part name="parameters" element="tns:updateAccResponse"/>
</message>
<message name="detailsAcc">
<part name="parameters" element="tns:detailsAcc"/>
</message>
<message name="detailsAccResponse">
<part name="parameters" element="tns:detailsAccResponse"/>
</message>
<message name="checkPass">
<part name="parameters" element="tns:checkPass"/>
</message>
<message name="checkPassResponse">
<part name="parameters" element="tns:checkPassResponse"/>
</message>
<message name="testConnection">
<part name="parameters" element="tns:testConnection"/>
</message>
<message name="testConnectionResponse">
<part name="parameters" element="tns:testConnectionResponse"/>
</message>
<message name="createAcc">
<part name="parameters" element="tns:createAcc"/>
</message>
<message name="createAccResponse">
<part name="parameters" element="tns:createAccResponse"/>
</message>
<portType name="DatabaseWebService">
<operation name="delAcc">
<input wsam:Action="http://blog.liambaron.com/DatabaseWebService/delAccRequest" message="tns:delAcc"/>
<output wsam:Action="http://blog.liambaron.com/DatabaseWebService/delAccResponse" message="tns:delAccResponse"/>
</operation>
<operation name="updateAcc">
<input wsam:Action="http://blog.liambaron.com/DatabaseWebService/updateAccRequest" message="tns:updateAcc"/>
<output wsam:Action="http://blog.liambaron.com/DatabaseWebService/updateAccResponse" message="tns:updateAccResponse"/>
</operation>
<operation name="detailsAcc">
<input wsam:Action="http://blog.liambaron.com/DatabaseWebService/detailsAccRequest" message="tns:detailsAcc"/>
<output wsam:Action="http://blog.liambaron.com/DatabaseWebService/detailsAccResponse" message="tns:detailsAccResponse"/>
</operation>
<operation name="checkPass">
<input wsam:Action="http://blog.liambaron.com/DatabaseWebService/checkPassRequest" message="tns:checkPass"/>
<output wsam:Action="http://blog.liambaron.com/DatabaseWebService/checkPassResponse" message="tns:checkPassResponse"/>
</operation>
<operation name="testConnection">
<input wsam:Action="http://blog.liambaron.com/DatabaseWebService/testConnectionRequest" message="tns:testConnection"/>
<output wsam:Action="http://blog.liambaron.com/DatabaseWebService/testConnectionResponse" message="tns:testConnectionResponse"/>
</operation>
<operation name="createAcc">
<input wsam:Action="http://blog.liambaron.com/DatabaseWebService/createAccRequest" message="tns:createAcc"/>
<output wsam:Action="http://blog.liambaron.com/DatabaseWebService/createAccResponse" message="tns:createAccResponse"/>
</operation>
</portType>
<binding name="DatabaseWebServicePortBinding" type="tns:DatabaseWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="delAcc">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateAcc">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="detailsAcc">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkPass">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="testConnection">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createAcc">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="DatabaseWebService">
<port name="DatabaseWebServicePort" binding="tns:DatabaseWebServicePortBinding">
<soap:address location="http://localhost:8080/blog/DatabaseWebService"/>
</port>
</service>
</definitions>